:root {
    --background-color: #F7F7F7;
    --text-color: #1F2933;
    --primary-color: #3B82F6;
    --secondary-color-one: #10B981;
    --secondary-color-two: #F59E0B;
}

/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles for the Scroll Feature */
html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    background-color: var(--background-color);
  }
  
.container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
  
.panel {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

  /* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100px;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    gap: 10px;
    z-index: 1000;
    background-color: var(--background-color);
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.nav-buttons {
    display: flex;
    gap: 24px;
    font-size: 24px;
}

.nav-buttons a {
    padding: 10px 15px;
    text-decoration: none;
    color: var(--primary-color);
}


.nav-buttons a:hover {
    background-color: #E0E0E0;
    font-weight: bold;
}

/* Styles for the different bodies */
.aboutMe {
    background-color: var(--background-color);
    width: 80%;
    height: 70%;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.aboutMe p {
    padding: 30px;
    font-size: 40px;
}

.projects {
    background-color: var(--background-color);
    width: 80%;
    height: 70%;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.projects p {
    padding: 30px;
    font-size: 40px;
}

.projects h2 {
    color: var(--primary-color);
}

.projects h3 {
    color: var(--secondary-color-one);
}

.projects a {
    text-decoration: none;
    color: var(--secondary-color-two);
}

.projects a:hover {
    font-weight: bold;
}